<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="devheart-examples.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>

            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a
                mostly barebones HTML document.</p>
        </div>
    </div>

    <div ng-app="todoApp" id="example">
        <div ng-controller="controller" class="list">
            <div class="left first">
                <ul class="ul-list" ui-sortable="sortableOptions" ng-model="todos1">
                    {{todos1.length}}
                    <li ng-repeat="todo1 in todos1" class="ul-item">{{todo1.text}}</li>
                </ul>
            </div>
            <div class="left">
                <ul class="ul-list" ui-sortable="sortableOptions" ng-model="todos2">
                    {{todos2.length}}
                    <li ng-repeat="todo2 in todos2" class="ul-item">{{todo2.text}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script>
    angular.module('ui.sortable', [])
            .value('uiSortableConfig', {})
            .directive('uiSortable', [
                'uiSortableConfig', '$timeout', '$log',
                function (uiSortableConfig, $timeout, $log) {
                    return {
                        require: '?ngModel',
                        scope: {
                            ngModel: '=',
                            uiSortable: '='
                        },
                        link: function (scope, element, attrs, ngModel) {
                            var savedNodes;

                            function combineCallbacks(first, second) {
                                if (second && (typeof second === 'function')) {
                                    return function () {
                                        first.apply(this, arguments);
                                        second.apply(this, arguments);
                                    };
                                }
                                return first;
                            }

                            function getSortableWidgetInstance(element) {
                                var data = element.data('ui-sortable');
                                if (data && typeof data === 'object' && data.widgetFullName === 'ui-sortable') {
                                    return data;
                                }
                                return null;
                            }

                            function hasSortingHelper(element, ui) {
                                var helperOption = element.sortable('option', 'helper');
                                return helperOption === 'clone' || (typeof helperOption === 'function' && ui.item.sortable.isCustomHelperUsed());
                            }

                            function isFloating(item) {
                                return (/left|right/).test(item.css('float')) || (/inline|table-cell/).test(item.css('display'));
                            }

                            function getElementScope(elementScopes, element) {
                                var result = null;
                                for (var i = 0; i < elementScopes.length; i++) {
                                    var x = elementScopes[i];
                                    if (x.element[0] === element[0]) {
                                        result = x.scope;
                                        break;
                                    }
                                }
                                return result;
                            }

                            function afterStop(e, ui) {
                                ui.item.sortable._destroy();
                            }

                            var opts = {};

                            var directiveOpts = {
                                'ui-floating': undefined
                            };

                            var callbacks = {
                                receive: null,
                                remove: null,
                                start: null,
                                stop: null,
                                update: null
                            };

                            var wrappers = {
                                helper: null
                            };

                            angular.extend(opts, directiveOpts, uiSortableConfig, scope.uiSortable);

                            if (!angular.element.fn || !angular.element.fn.jquery) {
                                $log.error('ui.sortable: jQuery should be included before AngularJS!');
                                return;
                            }

                            if (ngModel) {

                                scope.$watch('ngModel.length', function () {
                                    $timeout(function () {
                                        if (!!getSortableWidgetInstance(element)) {
                                            element.sortable('refresh');
                                        }
                                    }, 0, false);
                                });

                                callbacks.start = function (e, ui) {
                                    if (opts['ui-floating'] === 'auto') {
                                        var siblings = ui.item.siblings();
                                        var sortableWidgetInstance = getSortableWidgetInstance(angular.element(e.target));
                                        sortableWidgetInstance.floating = isFloating(siblings);
                                    }

                                    ui.item.sortable = {
                                        model: ngModel.$modelValue[ui.item.index()],
                                        index: ui.item.index(),
                                        source: ui.item.parent(),
                                        sourceModel: ngModel.$modelValue,
                                        cancel: function () {
                                            ui.item.sortable._isCanceled = true;
                                        },
                                        isCanceled: function () {
                                            return ui.item.sortable._isCanceled;
                                        },
                                        isCustomHelperUsed: function () {
                                            return !!ui.item.sortable._isCustomHelperUsed;
                                        },
                                        _isCanceled: false,
                                        _isCustomHelperUsed: ui.item.sortable._isCustomHelperUsed,
                                        _destroy: function () {
                                            angular.forEach(ui.item.sortable, function (value, key) {
                                                ui.item.sortable[key] = undefined;
                                            });
                                        }
                                    };
                                };

                                callbacks.activate = function (e, ui) {
                                    savedNodes = element.contents();

                                    var placeholder = element.sortable('option', 'placeholder');

                                    if (placeholder && placeholder.element && typeof placeholder.element === 'function') {
                                        var phElement = placeholder.element();
                                        phElement = angular.element(phElement);

                                        var excludes = element.find('[class="' + phElement.attr('class') + '"]:not([ng-repeat], [data-ng-repeat])');

                                        savedNodes = savedNodes.not(excludes);
                                    }

                                    var connectedSortables = ui.item.sortable._connectedSortables || [];

                                    connectedSortables.push({
                                        element: element,
                                        scope: scope
                                    });

                                    ui.item.sortable._connectedSortables = connectedSortables;
                                };

                                callbacks.update = function (e, ui) {
                                    if (!ui.item.sortable.received) {
                                        ui.item.sortable.dropindex = ui.item.index();
                                        var droptarget = ui.item.parent();
                                        ui.item.sortable.droptarget = droptarget;

                                        var droptargetScope = getElementScope(ui.item.sortable._connectedSortables, droptarget);
                                        ui.item.sortable.droptargetModel = droptargetScope.ngModel;

                                        element.sortable('cancel');
                                    }

                                    if (hasSortingHelper(element, ui) && !ui.item.sortable.received &&
                                            element.sortable('option', 'appendTo') === 'parent') {
                                        savedNodes = savedNodes.not(savedNodes.last());
                                    }
                                    savedNodes.appendTo(element);

                                    if (ui.item.sortable.received) {
                                        savedNodes = null;
                                    }

                                    if (ui.item.sortable.received && !ui.item.sortable.isCanceled()) {
                                        scope.$apply(function () {
                                            ngModel.$modelValue.splice(ui.item.sortable.dropindex, 0,
                                                    ui.item.sortable.moved);
                                        });
                                    }
                                };

                                callbacks.stop = function (e, ui) {
                                    if (!ui.item.sortable.received &&
                                            ('dropindex' in ui.item.sortable) && !ui.item.sortable.isCanceled()) {

                                        scope.$apply(function () {
                                            ngModel.$modelValue.splice(
                                                    ui.item.sortable.dropindex, 0,
                                                    ngModel.$modelValue.splice(ui.item.sortable.index, 1)[0]);
                                        });
                                    } else {
                                        if ((!('dropindex' in ui.item.sortable) || ui.item.sortable.isCanceled()) && !hasSortingHelper(element, ui)) {
                                            savedNodes.appendTo(element);
                                        }
                                    }

                                    savedNodes = null;
                                };

                                callbacks.receive = function (e, ui) {
                                    ui.item.sortable.received = true;
                                };

                                callbacks.remove = function (e, ui) {
                                    if (!('dropindex' in ui.item.sortable)) {
                                        element.sortable('cancel');
                                        ui.item.sortable.cancel();
                                    }

                                    if (!ui.item.sortable.isCanceled()) {
                                        scope.$apply(function () {
                                            ui.item.sortable.moved = ngModel.$modelValue.splice(
                                                    ui.item.sortable.index, 1)[0];
                                        });
                                    }
                                };

                                wrappers.helper = function (inner) {
                                    if (inner && typeof inner === 'function') {
                                        return function (e, item) {
                                            var innerResult = inner.apply(this, arguments);
                                            item.sortable._isCustomHelperUsed = item !== innerResult;
                                            return innerResult;
                                        };
                                    }
                                    return inner;
                                };

                                scope.$watch('uiSortable', function (newVal /*, oldVal*/) {
                                    var sortableWidgetInstance = getSortableWidgetInstance(element);
                                    if (!!sortableWidgetInstance) {
                                        angular.forEach(newVal, function (value, key) {
                                            if (key in directiveOpts) {
                                                if (key === 'ui-floating' && (value === false || value === true)) {
                                                    sortableWidgetInstance.floating = value;
                                                }

                                                opts[key] = value;
                                                return;
                                            }

                                            if (callbacks[key]) {
                                                if (key === 'stop') {
                                                    value = combineCallbacks(
                                                            value, function () {
                                                                scope.$apply();
                                                            });

                                                    value = combineCallbacks(value, afterStop);
                                                }
                                                value = combineCallbacks(callbacks[key], value);
                                            } else if (wrappers[key]) {
                                                value = wrappers[key](value);
                                            }

                                            opts[key] = value;
                                            element.sortable('option', key, value);
                                        });
                                    }
                                }, true);

                                angular.forEach(callbacks, function (value, key) {
                                    opts[key] = combineCallbacks(value, opts[key]);
                                    if (key === 'stop') {
                                        opts[key] = combineCallbacks(opts[key], afterStop);
                                    }
                                });

                            } else {
                                $log.info('ui.sortable: ngModel not provided!', element);
                            }

                            element.sortable(opts);
                        }
                    };
                }
            ]);
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
    angular.module('todoApp', ['ui.sortable'])
            .controller('controller', function ($scope) {
                //var self = this;
                $scope.todos1 = [
                    {text: 'learn angular'},
                    {text: 'learn jj'},
                    {text: 'learn qq'},
                    {text: 'build an angular'}];
                $scope.todos2 = [
                    {text: 'learn jquery'},
                    {text: 'learn hh'},
                    {text: 'learn nn'},
                    {text: 'build an jquery'}];

                $scope.sortableOptions = {
                    placeholder: "placeholder",
                    connectWith: ".ul-list"
                };
            });
</script>

</body>
</html>
